.well {
    background-color: #902153;
}

.service-level {
    color: white;
    display: inline-block;
}

#alertToggle, #service-level {
    display: inline;
}
/*
     FILE ARCHIVED ON 04:35:55 Dec 02, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:45:08 Dec 08, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.464
  exclusion.robots: 0.017
  exclusion.robots.policy: 0.008
  esindex: 0.01
  cdx.remote: 34.186
  LoadShardBlock: 160.657 (3)
  PetaboxLoader3.datanode: 123.565 (4)
  PetaboxLoader3.resolve: 122.555 (2)
  load_resource: 98.162
*/