.zc_zaparticle {
	margin-left:auto;
	margin-right:auto;
	font-weight: bold;
	font-height: 120%;
	padding: 8px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}


/*
     FILE ARCHIVED ON 04:35:55 Dec 02, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:45:08 Dec 08, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.954
  exclusion.robots: 0.034
  exclusion.robots.policy: 0.02
  esindex: 0.025
  cdx.remote: 177.327
  LoadShardBlock: 102.242 (3)
  PetaboxLoader3.datanode: 209.209 (4)
  PetaboxLoader3.resolve: 204.089 (2)
  load_resource: 340.433
*/